.custom-visible-accordion .visible-accordion-icon {
    position: absolute;
    right: 15px;
    transition: all 0.3s;
}

/* In the visible accordion, we don't need to hide by default anymore */
/* The card-body will be shown or hidden based on the visibility state */

.visible-accordion-active .visible-accordion-icon {
    transform: rotate(90deg);
}

.custom-visible-accordion .card-header {
    cursor: pointer;
}
